{{> head}}
{{> navbar}}
<main>
    <div class="wrapper page page--search">
		<div class="hero">
			<h1>
				{{ translate 'search.search' }}
			</h1>			
		</div> 
		<div class="post__inner">
			{{{@customSearchContent}}}
		</div>
	</div> 
</main>
{{> footer}}
